<h1>Button</h1>

{{#each buttons key="@index" as |variant|}}
  <div class="docs-flex docs-w-full docs-mb-4">
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-{{variant}}">{{variant}}</button>
    </div>
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-{{variant}} focus">{{variant}}</button>
    </div>
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-{{variant}} active">{{variant}}</button>
    </div>
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-{{variant}}" disabled>{{variant}}</button>
    </div>
  </div>
{{/each}}
