<Portal
  @element={{this.targetElement}}
  @renderInPlace={{this.renderInPlace}}
>
  <div
    class="blanket {{this.classNames}}"
    role="button"
    {{on "click" this.handleClick}}
    {{did-insert this.addClassNameToBody}}
    {{will-destroy this.removeClassNameFromBody}}
    ...attributes
  >
    {{yield}}
  </div>
</Portal>
