<div class="custom-field">
  <input
    id={{this.guid}}
    type="checkbox"
    checked={{@checked}}
    class="custom-field-input"
    {{on "change" this.handleChangeEvent}}
    ...attributes
  >

  <label for={{this.guid}} class="custom-field-label">
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{@label}}
    {{/if}}
  </label>
</div>
