{{#if this.hasMessage}}
  <Blanket
    class="modal-blanket"
    @isTinted={{true}}
    {{did-insert this.onDialogMount}}
    {{will-destroy this.onDialogDismount}}
    test-modal-blanket
  >
    <div id="dialog" class="dialog" data-test-dialog>
      {{#if this.message.title}}
        <header class="dialog-header">{{this.message.title}}</header>
      {{/if}}

      <section class="dialog-content">
        {{!-- template-lint-disable no-triple-curlies --}}
        {{{this.message.message}}}
      </section>

      <footer class="dialog-footer">
        <Button @primary {{on "click" this.confirm}} data-test-confirm-dialog>
          {{this.message.confirmLabel}}
        </Button>

        {{#if this.hasCancelButton}}
          <Button {{on "click" this.cancel}} data-test-cancel-dialog>
            {{this.message.cancelLabel}}
          </Button>
        {{/if}}
      </footer>
    </div>
  </Blanket>
{{/if}}