{{#if hasMessage}}
  <Blanket
    class="modal-blanket"
    @isTinted={{true}}
    {{did-insert this.onDialogMount}}
    {{will-destroy this.onDialogDismount}}
    test-modal-blanket
  >
    <div id="dialog" class="dialog">
      {{#if message.title}}
        <header class="dialog-header">{{ message.title }}</header>
      {{/if}}

      <section class="dialog-content">
        {{{ message.message }}}
      </section>

      <footer class="dialog-footer">
        <Button @primary onclick={{ action "confirm" }} data-autoid="confirm-dialog">
          {{ message.confirmLabel }}
        </Button>

        {{#if displayCancelButton}}
          <Button onclick={{ action "cancel" }} data-autoid="cancel-dialog">
            {{ message.cancelLabel }}
          </Button>
        {{/if}}
      </footer>
    </div>
  </Blanket>
{{/if}}