<Portal
  @element={{this.destinationElement}}
  @renderInPlace={{this.renderInPlace}}
>
  <Blanket
    class="modal-blanket"
    @isTinted={{true}}
    @onClick={{this.handleBlanketClick}}
    {{did-insert this.addClassNameToBody}}
    {{will-destroy this.removeClassNameFromBody}}
    test-modal-blanket
  >
    <div
      class="modal {{this.classNames}}"
      role="button"
      ...attributes
    >
      {{yield (hash
        Header=(component "modal-header" onClose=this.close)
        Body=(component "modal-body")
        Footer=(component "modal-footer")
        actions=(hash close=this.close)
      )}}
    </div>
  </Blanket>
</Portal>
