<Field @label={{@label}} @hint={{@hint}} @error={{@error}} as |id|>
  <select
    id={{id}}
    class="field-control"
    {{on "change" this.handleChange}}
    ...attributes
  >
    {{#each this.options key="value" as |opt|}}
      <option value={{opt.value}} selected={{opt.selected}}>
        {{opt.label}}
      </option>
    {{/each}}
  </select>
</Field>