<div class="custom-field">
  <input
    id={{this.uuid}}
    type="checkbox"
    checked={{@checked}}
    class="custom-field-input"
    {{on "change" this.handleChangeEvent}}
    ...attributes
  >

  <label for={{this.uuid}} class="custom-field-label">
    {{@label}}
  </label>
</div>
