{{#maybe-in-element this.destinationElement this._renderInPlace}}
  <Blanket
    @isTinted={{true}}
    class="modal-blanket"
    onclick={{this._handleBlanketClick}}
    test-modal-blanket
  >
    <div
      class="modal {{this._classNames}}"
      {{on "click" this._stopModalBodyPropagation}}
      role="button"
      ...attributes
    >
      {{yield (hash
        Header=(component "modal-header" onClose=this._close)
        Body=(component "modal-body")
        Footer=(component "modal-footer")
        actions=(hash close=this._close)
      )}}
    </div>
  </Blanket>
{{/maybe-in-element}}
