<h1>Circle Button</h1>

{{#each this.buttons key="@index" as |variant|}}
  <div class="docs-flex docs-w-full docs-mb-4">
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-circle btn-{{variant}}">
        {{svg-jar "edit"}}
      </button>
    </div>
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-circle btn-{{variant}} focus">
        {{svg-jar "close"}}
      </button>
    </div>
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-circle btn-{{variant}} active">
        {{svg-jar "code"}}
      </button>
    </div>
    <div class="docs-w-1/4">
      <button type="button" class="btn btn-circle btn-{{variant}}" disabled>
        {{svg-jar "trash"}}
      </button>
    </div>
  </div>
{{/each}}
